// main: style.scss

#login {
   background-color: #333;
   height: 100vh;
   vertical-align: middle;

   .card {
       background: transparent;
       display: block;
       margin: auto;
       border: none;
   }

   .scroll-content {
       padding: 16px;
       vertical-align: middle;
       display: flex;
       flex-direction: column;
   }

   .logo {
       color: #fff;
       display: block;
       margin: auto;
       width: 600px;
   }
   .button {
       display: block;
       color: #fff;
       font-size: 28px;
       font-weight: 100;
       padding: 40px;
   }

   .item-md {
       background-color: #fff;
       color: #333;
       margin: 16px 32px;
       width: auto;
   }

   .Register {
       margin-bottom: auto;
   }
}
